.carousel {
    position: relative;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;

  }
  
  .custom-slide {
    min-width: 100%;
  }
  
  .dot-container {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px;
    top: 26.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #fbbdbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.current {
    background-color: #ff5bb1; 
    border-radius: 1rem;
    width: 1.5rem;
    height: 0.3rem; 
  }
  